[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/watt"]
	path = thirdparty/watt
	url = https://github.com/gvanem/Watt-32/
[submodule "thirdparty/cjson"]
	path = thirdparty/cjson
	url = https://github.com/DaveGamble/cJSON
[submodule "thirdparty/nettle"]
	path = thirdparty/nettle
	url = https://github.com/gnutls/nettle
